<div class="container-fluid">
    <div class="row d-flex flex-column align-items-center justify-content-center">
        <div>
            <h2 class="font-weight-bold">Winner - TEAM B</h2>
        </div>
        <div>
            <img src="assets/images/trophy.png" width="300" height="300">
        </div>
        <div class="px-3 my-4">
            <h4 class="font-italic">
                Team B has won 10 lakhs pool prize
            </h4>
            <h5><span>Man of the Tournament: &nbsp;</span><span class="font-italic">Saurav</span></h5>
            <h5><span>Best Batsman: &nbsp;</span> <span class="font-italic">Saurav</span></h5>
            <h5><span>Best Bowler: &nbsp;</span><span class="font-italic">Akram</span></h5>
        </div>
    </div>

</div>