
<ul class="list-group">
    <li class="list-group-item disabled" *ngFor="let t of teams" (click)=selected(t.tid)>
        <span>{{t.tid}}) &nbsp;&nbsp;</span>
        <span>
            <img src="{{t.image}}" class="rounded-circle circled">
        </span>&nbsp;&nbsp;
        <span class="font-weight-bold">Team &nbsp;{{t.name}} &nbsp;</span>from {{t.country}}
        <span class="float-right" ><i class="{{!openlist ? 'fa fa-chevron-down' : 'fa fa-chevron-up'}}" ></i></span>
        <div class="container-fluid px-0" *ngIf="players && t.tid == selectedTeamId && openlist">
            <ul class="list-group pt-4">
                <li class="list-group-item disabled" *ngFor="let p of players, let i = index">
                    <div class="row d-flex flex-row justify-content-between align-items-center">
                        <div>
                            <p class="mb-0">{{i+1}}.</p>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 d-flex flex-row justify-content-center align-items-center">
                            <!-- <img src="../../../assets/images/bat.png" alt="bat.logo" class="rounded-circle circled"> -->
                            <img src="{{p.type == 'Bat' ? '../../../assets/images/bat.png' : '../../../assets/images/ball.png'}}" class="rounded-circle circled">  
                        </div>
                        <div class="col-lg-3 col-sm-3 col-md-3 d-flex flex-row justify-content-start align-items-center screenalign">
                            <p class="mb-0">{{p.text}}</p>
                        </div>
                        <div class="col-lg-2 col-sm-1 col-md-3 d-flex flex-row justify-content-start  align-items-center screenalign">
                            <p class="mb-0">{{p.matches}} matches</p>
                        </div>
                        <div class="col-lg-1 col-sm-2 col-md-1 d-flex flex-row justify-content-start align-items-center screenalign">
                            <p class="mb-0">{{p.name}}</p>
                        </div>
                        <div class="col-lg-4 col-sm-5 col-md-3 d-flex flex-row justify-content-end align-items-center">
                            <a routerLink="/player/{{p.pid}}">Go to Player Profile</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </li>
</ul>